:root{
    --footer_height: 28px;

    --theme-color-1: #173F5F;
    --theme-color-2: #20639B;
    --theme-color-3: #005194;
    --theme-color-4: #F6D55C;
    --theme-color-5: #f69a5c;
    --text-color-1: #00aeff;
}


*{
    transition: opacity 1s, z-index 1s;
    color: var(--text-color-1);
}

/*
page mask
*/
#page_mask{
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 5;
    transition: opacity 1s, z-index 2s;
}


/*
basic layout
*/
body{
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr var(--footer_height);
}

header{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: var(--theme-color-1);
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

main{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: var(--theme-color-2);
}

footer{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    background-color: var(--theme-color-3);
    text-align: right;
    padding: 5px;
}

header>section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}


/*
labels
*/
input[type="radio"]{
    display: none;
}

label{
    background-color: var(--theme-color-4);
    padding: 5px;
    border-radius: 5px;
}

label:hover{
    filter: brightness(80%);
}


/*
buttons
*/
button{
    background-color: var(--theme-color-4);
    padding: 5px;
    border: solid 2px var(--theme-color-5);
    border-radius: 5px;
}

button:hover{
    filter: brightness(80%);
}

button:disabled{
    filter: grayscale(100%);
}


/*
links
*/
a{
    color: var(--theme-color-4)
}

/*
dataoptions
*/
#dataoptions_temperature:checked~#dataoptions_temperature_label, #dataoptions_humidity:checked~#dataoptions_humidity_label{
    background-color: var(--theme-color-5);
}


/*
locationoptions
*/
#locationoptions{
    grid-column: 1 / span 2;
    padding: 5px;
}


/*
timeoptions
*/
#timeoptions_timepoint:checked~header>section>#timeoptions_timepoint_label, #timeoptions_timerange:checked~header>section>#timeoptions_timerange_label{
    background-color: var(--theme-color-5);
}

#timepoint_options, #timerange_options{
    opacity: 0;
    z-index: -1;
}

#timeoptions_timepoint:checked~header>section>#timepoint_options, #timeoptions_timerange:checked~header>section>#timerange_options{
    opacity: 1;
    z-index: 1;
}


/*
timepoint
*/
#timepoint_options{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#timepoint_format_png:checked~#timepoint_format_png_label, #timepoint_format_jpg:checked~#timepoint_format_jpg_label, #timepoint_format_pdf:checked~#timepoint_format_pdf_label, #timepoint_format_svg:checked~#timepoint_format_svg_label{
    background-color: var(--theme-color-5);
}

#timepoint_datetime{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

#timepoint_options>button{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

#display_timepoint{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
}


/*
timerange
*/
#timerange_options{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#timerange_format_gif:checked~#timerange_format_gif_label, #timerange_format_mp4:checked~#timerange_format_mp4_label{
    background-color: var(--theme-color-5);
}

#timepoint_datetime_start{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

#timepoint_datetime_end{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

#timerange_options>button{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

#display_timerange{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
    z-index: 1;
}

#timeoptions_timepoint:checked~main>#display_timepoint, #timeoptions_timerange:checked~main>#display_timerange{
    height: calc(100vh - var(--footer_height) - 5px - 5px);
    padding: 5px;
}


/*
saveoptions
*/
header>form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 5px;
    margin: 0;
}

header>form>div{
    grid-column: 1 / span 2;
}


/*
popup
*/
#data_downloaded{
    display: none;
}

#popup{
    display: none;
    z-index: 3;
}

#popup_background_mask{
    display: none;
}

#data_downloaded:not(:checked)~#popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--theme-color-1);
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--theme-color-5);
    display: grid;
    gap: 5px;
}

#data_downloaded:not(:checked)~#popup_background_mask{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000AA;
    z-index: 2;
}
